# Virtual environment
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Perfis de navegador e dados
projeto_ia/firefox_perfil/
projeto_ia/chrome_profile/
*.sqlite
*.sqlite-*
*.zip
*.exe

# Variáveis de ambiente
.env